* {

    box-sizing: border-box;
    
    }

    body {
        line-height: 1.5;
    }
    
    h1 {
    
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }

    header {
        padding: 60px;
        background-color: rgb( 254, 202, 010);
    }
    
    p {
    
    font-size: 18px;
    text-align: left;

    
    }

    h2 {
        text-align: left;
    }

    nav {

        background-color: black;
        overflow: hidden;
    }

    nav a {

        text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
    }

    main {
        
    }